{% load static %}
<div class="hero-head">
  <nav class="navbar">
      <div class="container">
          <div class="navbar-end">
            {% if user.is_superuser %}
              <a href="{% url 'battle:game_create' %}" class="navbar-item">
                Создать игру
              </a>
            {% endif %}
              <a href="{% url 'battle:index' %}" class="navbar-item">
                Главная
              </a>
              {% if user.is_authenticated %}
              <a href="{% url 'battle:games'%}" class="navbar-item">
                Список игр
              </a> 
              <a href="{% url 'battle:profile' user.username%}" class="navbar-item">
                  Профиль: {{ user.username }}
              </a>
              {% else %}
              <a href="{% url 'users:login' %}" class="navbar-item">
                  Войти
              </a>
              <a href="{% url 'users:signup' %}" class="navbar-item">
                  Зарегистрироваться
              </a>
              {% endif %}
              {% if user.is_authenticated %}
              <a href="{% url 'users:logout' %}" class="navbar-item">
                  Выйти
              </a>
              {% endif %}
          </div>
      </div>
  </nav>
</div>