{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Страница создания команды
</h1>
<h2>Игра {{game_title}}</h2>

{% if user_has_team%}
<p>Вы уже состоите в команде {{team_name}} в этой игре</p>
Участники команды:
<table class="table">
  <tr>
    <td>ID пользователя</td>
    <td>Имя пользователя</td>
  </tr>
  {%for user in user_in_team%}
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.user_name}}</td>
  </tr>
  {%endfor%}
</table>

{%else%}
<p>Форма заявки на участие в игре ниже</p>
<form class="form" method = "post" action = "team_create">
  <label for="teamname">Имя команды</label><br>
  <input type="text" id="teamname" name="teamname" value=""><br><br>
  <input type="button" value="Подать заявку">
</form>
{%endif%}



{% endblock %}