{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{game.title}}
</h1>

<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box" >
      <a class="title has-text-black" href="{% url 'battle:results'%}">Ваш результат</a>
      {% if user_in_team %}
      <p>Ваша команда: {{user_result.team_name}}</p>

        <p>Ваш результат: </p><h1>{{user_result.result}}</h1>
      {% else %}
      <p>Вы не участвуете в этой игре</p>
      <button type="submit" value={{game.id}} onclick="location.href='/team_create'" name='toteambtn'>Подать заявку</button>
      {% endif %}

    </div>
    <div class="tile is-child box" title="Общий результат вычисляется на основе лучших в каждом раунде">
      <a class="title has-text-black">Лидеры</a>
      <p>Лидерборд участников соревнования</p>
      <table class="table">
        <tr>
          <td>Имя команды</td>
          <td>Результат</td>
        </tr>
        {% for leader in leader_board%}
          <tr {% if leader.2 == 1%} bgcolor="lightgray" {%endif%}>
            <td>{{leader.0.1}}</td>
            <td>{{leader.1}}</td>
          </tr>
        {%endfor%}
      </table>

    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title has-text-black">Описание</p>
      <p>{{game.description}}</p>
    </div>
  </div>
</div>

{% if user_in_team %}
  <div>
  <table class="table">
    <tr>
      <td>ID раунда</td>
      <td>Название раунда</td>
      <td>Открыть раунд</td>
    </tr>
    {% for round in game_rounds %}
    <tr>
      <td>{{round.id}}</td>
      <td>{{round.name}}</td>
      <td><button type="submit" value={{round}} onclick="location.href='/round/{{round.id}}'" name='toroundbtn'>К раунду</button></td>
    </tr>
    {% endfor %}
  </table>
  </div>
{% endif %}

{% endblock %}