<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>        
        {% block title %}
          ББ
        {% endblock %}
      </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{% url 'battle:index' %}">
                            Главная
                        </a>
                        {% if user.is_authenticated %}
                        <a class="navbar-item">
                            К игре
                        </a>
                        <a class="navbar-item">
                            Профиль: {{ user.username }}
                        </a>
                        <a class="navbar-item" href="{% url 'users:logout' %}">
                            Выйти
                        </a>
                        {% else %}
                        <a class="navbar-item" href="{% url 'users:login' %}">
                            Войти
                        </a>
                        <a class="navbar-item" href="{% url 'users:signup' %}">
                            Регистрация
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>